* {
    padding: 0px;
    margin: 0px;
}
#test {
    width: 502px;
    height: 502px;
    background: #f5c784;
    padding: 100px;
    margin:50px auto ;
}
.gobang_block {
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    float: left;
}
.baiqi {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 25px;
    margin: 4px;
    box-shadow: inset 1px 3px 1px 0px #b9b7b7
}
.heiqi {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 25px;
    margin: 4px;
    box-shadow: inset 1px 3px 1px 0px #b9b7b7
}
.btn_box {
    width: 500px;
    text-align: center;
    margin: 0px auto;
}
.top {
    border-top: 2px solid #000;
}
.bottom {
    border-bottom: 2px solid #000;
}
.left {
    border-left: 2px solid #000;
}
.right {
    border-right: 2px solid #000;
}